/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.form {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

input[type="text"] {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
  font-weight: 400;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  width: 272px;
  margin-right: 8px;
}

button {
  width: 91px;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  background: #4e75ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  justify-content: center; 
}

.gallery-item {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: calc((100% - 48px) / 3);
  box-sizing: border-box;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
}

.image-info {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  padding: 10px;
  background-color: #fafafa;
}


.loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}
  .loader::after,
  .loader::before {
    content: '';
    width: 10px;
    height: 1px;
    background: #FFF;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
  }
  .loader::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
  }

@keyframes animFw {
    0% {
  width: 0;
}
    100% {
  width: 100%;
}
  }

@keyframes coli1 {
    0% {
  transform: rotate(-45deg) translateX(0px);
  opacity: 0.7;
}
    100% {
  transform: rotate(-45deg) translateX(-45px);
  opacity: 0;
}
  }

@keyframes coli2 {
    0% {
  transform: rotate(45deg) translateX(0px);
  opacity: 1;
}
    100% {
  transform: rotate(45deg) translateX(-45px);
  opacity: 0.7;
}
  }
  